
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Russo+One&display=swap");

/* Variables */
:root {
  --font1: "Russo One", sans-serif;
  --font2: "Lato", sans-serif;
  --dark-blue: #001f3f;
  --turquoise: #00c5cd;
  --blue: #38d7ff;
  --green: #00a870;
  --yellow: #f2e45c;
  --deep-pink: #f20089;
  --black: #000000;
  --white: #f1f1f1;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,
h3,
h4 {
  font-family: var(--font1);
  text-transform: uppercase;
}

p,
a {
  font-family: var(--font2);
}

body {
  background-color: var(--dark-blue);
  width: 100%;
  height: 100vh;
}

/* Container */
.container {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Card */
.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

/* Card Developer */
.card-developer {
  grid-column: span 2;
  display: flex;
  align-items: flex-end;
  gap: 80px;
  background-color: var(--green);
  padding: 35px;
}

.card-developer-profile {
  max-width: 40%;
}

.card-developer-profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--turquoise);
  padding: 10px;
  background-color: var(--white);
  margin-bottom: 20px;
}

.card-developer-profile h2 {
  font-size: 2em;
  color: var(--black);
}

.card-developer-info {
  max-width: 60%;
}

.card-developer-info p {
  font-size: 1.5em;
  line-height: 1.5;
  color: var(--black);
  text-wrap: balance;
}

/* Card CV */
.card-cv {
  position: relative;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.card-cv a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  background-color: var(--black);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 30px;
  z-index: 1;
  transition: 0.4s;
}

.card-cv a:hover {
  letter-spacing: 2px;
}

.card-cv h3 {
  font-size: clamp(1em, 3vw, 3em);
  text-align: left;
  margin-bottom: 20px;
  color: var(--black);
}

.card-cv img {
  position: absolute;
  opacity: 0.1;
  width: 350px;
  height: auto;
}

/* Card Contact */
.card-contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--deep-pink);
  grid-row: span 2;
}

.card-contact img {
  position: absolute;
  top: 40px;
  left: 0;
  width: 300px;
  height: auto;
  opacity: 0.2;
}

.card-contact h2 {
  font-size: clamp(1em, 3vw, 3em);
  text-align: left;
  margin-bottom: 30px;
  color: var(--black);
}

.card-contact-rrss {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.card-contact-rrss a {
  font-size: 2em;
  transition: 0.4s;
  color: var(--black);
}

.card-contact-rrss a:hover {
  color: var(--white);
}

/* Card Skills */
.card-skills {
  background-color: var(--blue);
}

.card-skills h4 {
  font-size: clamp(1em, 2vw, 2em);
  color: var(--black);
  margin-bottom: 30px;
}

.card-skills-tech {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-skills-tech i {
  font-size: 2.5em;
}

/* Card Projects */
.card-projects {
  grid-column: span 2;
  background-color: var(--white);
}

.card-project-links {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.card-project-links a {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--black);
  transition: 0.4s;
  width: 200px;
}

.card-project-links a:hover {
  letter-spacing: 2px;
  color: var(--turquoise);
}

.card-project-links a i {
  font-size: 2em;
}

/* Breakpoints */
@media screen and (max-width: 1200px) {
  .card-skills {
    grid-column: span 2;
  }
  .card-skills-tech i {
    font-size: 3em;
  }
  .card-contact img {
    top: 0;
  }
}

/* Laptops */
@media screen and (max-width: 992px) {
  .container {
    place-content: unset;
  }
  .card-cv {
    grid-row: span 2;
  }
  .card-cv img {
    width: 150px;
    right: 0;
  }
  .card-contact img {
    width: 150px;
    left: 60%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .card {
    grid-column: 1;
  }
  .card-cv img {
    width: 15%;
    right: 5%;
  }
  .card-contact {
    order: 1;
  }
  .card-contact img {
    width: 20%;
    left: 75%;
  }
}

/* Mobile */
@media screen and (max-width: 400px) {
  .container {
    padding: 10px;
    gap: 10px;
  }
  .card-developer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
  }
  .card-developer-profile,
  .card-developer-info {
    max-width: 100%;
  }
  .card-developer-profile h2 {
    font-size: 1.5em;
  }
  .card-developer-info p {
    font-size: 1.2em;
  }
  .card-cv {
    grid-row: span 2;
  }
  .card-cv img {
    width: 150px;
    right: 0;
  }
  .card-contact img {
    width: 20%;
    left: 75%;
    top: 25%;
  }
  .card-skills-tech i {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .card-project-links a {
    justify-content: space-between;
    font-size: 1em;
  }
  .card-project-links a i {
    font-size: 1.5em;
  }
}
